!tables/gm_gathering/kaiju/family_reads.tsv
!tables/gm_gathering/kaiju/order_reads.tsv

tables/gm_gathering

tables/*.csv
tables/*.tsv
tables/heatmaps*
tables/kaiju/

table_mars/
figures/

checks.rmd

notebooks/*.csv
test.py
concat.py

notebooks/geomosaic_cookbook.ipynb
hmm_table_template.tsv
parse_bigecyhmm.py